@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600,700&display=swap");

body {
  font-family: "Fira Sans", sans-serif;
  background-image: url(https://image.freepik.com/vector-gratis/fondo-acuarela_220290-15.jpg);
  background-size: 100%;
  display: block;
  margin: auto;
  object-fit: contain;
}
